%html
  %head
    %title Ryan Stewart IS4300
    %link(rel="stylesheet" href="css/style.css")
  %body
    #header
      .wrapper
        %h1 Ryan Stewart - IS4300
        %h2 stewart.rya@husky.neu.edu
        #nav
          %ui.nav
            %a.button(href='/')
              %li Home
            %a.button(href='/homework1')
              %li Homework1
            %a.button(href='/project5')
              %li Project Checkin 5
            %a.button(href='/project6')
              %li Project Checkin 6
    .wrapper
      #content
        =yield
