%html
  %head
    %title Ryan Stewart IS4300
    %link(rel="stylesheet" href="css/style.css")
  %body
    #header
      .wrapper
        %h1 Ryan Stewart
        %h2 stewart.rya@husky.neu.edu
        #nav
          %ui
            %a.button(href='/')
              %li Home
            %a.button(href='/homework1')
              %li Homework1
    .wrapper
      #content
        =yield