#header {
    padding: 10px;
    background-color: lightgray;
}

#nav {

}

.wrapper {
    width: 66%;
    margin: auto;
}

.button {
    text-decoration: none;
}

ul {
    padding-top: 20px;
    background-color: #ade;
    display: block;
}

li {
    color:white;
    text-align:center;
    display:inline;
    padding:10px;
    margin-right:2px;
    background-color: #69a;
}
