%h1 Critter Keeper
%h2 Project Checkin #5

%h4 Overview
%p 
  Critter Keeper is an interactive game where players care for their cute 
  pets! In this game, we're looking at player connection with and investement 
  in their virtual pet. 

%h4 User Tasks
%p If you test our game, please try to do the following!
%ol 
  %li Pet your Critter!
  %li Buy Pet Food for your Critter!
  %li Give your Critter Pet Food!

