%h1 Critter Keeper
%h2 Project Checkin #5

%h4 Overview
%p 

%h4 User Tasks
%p If you test our game, please try to do the following!
%ol 
  %li Pet your Critter!
  %li Buy Pet Food for your Critter!
  %li Give your Critter Pet Food!

