%h1 Idea One: Project Manager Site
%p
  A project management tool to help users organize tasks within a given project.  Tasks are presented as rows in each
  column, representing different stages of a task throughout development.  As users move tasks along, they move them
  between columns from left to right, the far right representing completion.  Users can assign tasks to them, which
  will put their user image on the task.  Tasks can be clicked on to pop open the task card, revealing more information
  about each task.  Tasks can be set with a due date to aid in tracking progress, and this could highlight yellow if the
  given project is approaching the due date, and red if it is past.  Tasks can be sorted via user, and perhaps also tags
  like user groups or task type.  Finally, I would like to include a calendar screen that allows users to view when
  projects were completed or slated to be complete by.
%img(src='/images/homework1/project_manager.png')

%h1 Idea Two: DnD Character Module
%p
  A module meant to be a part of a larger DnD management site, this focuses specifically on the player, their inventory,
  and their status effects.  The module features the equipment the character currently has equip as images in the top
  left, the players stats are featured in the top right and the inventory is below both of these.  The player can drag
  and drop items from their inventory below onto the proper slots in their equipment to equip the item.  If the item
  provides stats, and/or the item remove provided stats, the stats bar in the right will update to compensate for this.
  If the player tries to equip an item in the wrong slot, it will return to its place in the inventory and give the
  player error text explaining what went wrong (I.E. a helmet isn't a valid weapon).  Inventory items can also be
  clicked on to reveal more info, such as a larger image, what they do and flavor text.  Lastly, status effects will
  appear as icons below stats.  These can be hovered over to get more information, such as their name and a description.
%img(src='/images/homework1/dnd_character_module.png')

%h1 Idea Three: Digital Game Library Organizer
%p
  An organizer to help you keep track of all of your digital games (steam users rejoice).  This application shows all of
  your owned digital games in one spot and shows them by their cover art.  In the top left, a sort button allows you to
  narrow down games by categories such as how many players they can incorporate, what genres it falls into, if it can
  be played online or offline, if you've beaten/100% it yet (not applicable to all games), and if you've played it yet.
  Then as the user selects these options the games list redraws to only include the proper items.  Games can also be
  clicked on to display a card with more information, including hours played (if any), genres, players, online/offline,
  and if its been beaten/100%'d as applicable.
%img(src='/images/homework1/game_organizer.png')